<aside class='filter-panel'>
  <div class="filter-panel__content">
    <span class="filter-panel__title">
      Панель фильтров
    </span>
    <div class="filter-panel__group">
      <span class="filter-panel__group-name">
        Столбцы
      </span>
      <div class="filter-panel__group-content">
        {{>checkbox label="Пол" checked="true"}}
        {{>checkbox label="Страница открыта" checked="true"}}
      </div>
    </div>
  </div>
  <button class="filter-panel__footer">
    <span class="filter-panel__footer-icon">
      <span class="icon icon_size_m icon_type_arrow-right">
      </span>
    </span>
  </button>
</aside>