<aside class='filter-panel'>
  <div class="filter-panel__content">
    <span class="filter-panel__title">
      Панель фильтров
    </span>
    <form class="filter-panel__form" id="filterPanelForm">
      <div class="filter-panel__group">
        <span class="filter-panel__group-name">
          Столбцы
        </span>
        <div class="filter-panel__group-content">
          {{>checkbox label="Пол" checked="true" name="hasSexColumn" id="hasSexColumn"}}
          {{>checkbox label="Страница открыта" checked="true" name="hasOpenPageColumn" id="hasOpenPageColumn"}}
        </div>
      </div>
      <button id='applyFilter' class="button-query" type="submit">Применить</button>
    </form>

  </div>
  <button class="filter-panel__footer">
    <span class="filter-panel__footer-icon">
      <span class="icon icon_size_m icon_type_arrow-right">
      </span>
    </span>
  </button>
</aside>