<header class='header'>
  <input
    type='text'
    class='input input_size_l'
    placeholder='ведите id пользователя'
    id='userId'
  />
  <button id='get' class='button'>Запросить</button>
</header>