<table class='table'>
  <thead class='table__head'>
    <tr>
      <th class='table__cell'>
        Имя
      </th>
      <th class='table__cell'>
        Фамилия
      </th>
      {{#with columns}}
      {{#if_eq "on" "on"}}
      <th class='table__cell'>
        <div class="table__cell-content">
          Пол
          <div>
            <button class="icon" data-popover-id="sex-popover-table">
              <i class="icon icon_size_s icon_type_filter">
              </i>
            </button>
            <div class="dropdown-menu" data-popover-container-id="sex-popover-table">
              <ul>
                <li>
                  <label>
                    <input type="checkbox" data-filter-sex="male" checked />
                    Мужской
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" data-filter-sex="female" checked />
                    Женский
                  </label>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </th>
      {{/if_eq}}

      {{#if_eq columns.isOpenPage "on" }}
      <th class='table__cell'>
        Страница открыта
      </th>
      {{/if_eq}}
      {{/with}}


    </tr>
  </thead>
  <tbody id='tableBody' class='table__body'>

  </tbody>
  <script>
    document.querySelectorAll('thead [data-popover-id]').forEach((triggerElement) => {
      new Popover({
        triggerElement
      })
    })

  </script>
</table>