<table class='table'>
  <thead class='table__head'>
    <tr>
      <th class='table__cell'>
        Имя
      </th>
      <th class='table__cell'>
        Фамилия
      </th>
      <th class='table__cell'>
        Пол
      </th>
      <th class='table__cell'>
        Страница открыта
      </th>
    </tr>
  </thead>
  <tbody id='tableBody' class='table__body'>

  </tbody>
</table>