.icon {
  background-size: cover;
  display: inline-block;
}

.icon_size_s {
  width: 1em;
  height: 1em;
}

.icon_size_m {
  width: 1.3em;
  height: 1.3em;
}

.icon_type_filter {
  background-image: url('../../../assets/filter.png');
}

.icon_type_vk-logo {
  background-image: url('../../../assets/vk-logo.svg');
}

.icon_type_arrow-right {
  background-image: url('../../../assets/arrow-right.png');
}
