@import './filter-panel__title.scss';
@import './filter-panel__group-content.scss';
@import './filter-panel__group-name.scss';
@import './filter-panel__title.scss';
@import './filter-panel__footer.scss';
@import './filter-panel__content.scss';
/*нельзя импортировать сюда css...*/
@import './filter-panel__form.scss';
@import './filter-panel__btn-clear-storage.scss';

.filter-panel {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-right: 2px solid var(--base-color);
  transition: width 250ms;
  width: 200px;
}

.filter-panel_hidden {
  width: 60px;
}

.filter-panel_hidden .filter-panel__content {
  visibility: hidden;
}
