.table-cell {
  padding: 6px 10px;
  text-align: left;
  width: 200px;
}

.table-cell__content {
  display: flex;
  gap: 10px;
  align-items: center;
}

.table-cell__head-content {
  display: flex;
  justify-content: space-between;
}

.table-cell__head-filters {
  display: inline-flex;
  gap: 6px;
}

.table-cell__vk-page-link {
  display: inline-block;
}

.table-cell__vk-page-link:hover {
  opacity: 0.7;
}
