@import './table__body.scss';
@import './table__head.scss';
@import './table__cell.scss';
@import './table__body-row.scss';

.table {
  border-collapse: collapse;
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
}
